<div class="item-container">
  <div>
    <span (mouseover)="showInfoBox=true; calculateDamage()" (mouseout)="showInfoBox=false">
      {{ item.name }}
    </span>
    <span *ngIf="hero.equippedWeapon === index"> - Equipped</span>
    <span *ngIf="(item.type == 'melee' || item.type == 'staff') && hero.equippedWeapon != index">- <span class="span-link" (click)="equipItem()">Equip</span></span>
    <span *ngIf="item.type == 'consumable'">- <span class="span-link" (click)="useItem()">Use</span></span>
  </div>
  <div *ngIf="showInfoBox" class="item-info-box">
    <span class="bold">{{ item.name }}</span> <br>
    <span>{{ item.description }}</span> <br>
    <span>Value: {{ item.value }} gold</span> <br>
    <span>Base Damage: {{ item.power }} </span> <br>
    <span *ngIf="item.type == 'melee'" >Attack Power: {{ minDamage }} - {{ maxDamage }}</span> <br>
  </div>
</div>