<div class="hero-container">
  <div class="row">
    <div class="col-12">
      <span>{{hero.name}}</span>
      <span>{{hero.class == 0 ? "Warrior" : "Wizard"}}</span>
      <span>{{hero.level}}</span>
      <span>Exp: {{hero.experience}}</span>
      <span>Gold: {{hero.gold}}</span>
      <span>Health: {{hero.health}}/{{hero.maxHealth}}</span>
      <span>Mana: {{hero.mana}}/{{hero.maxMana}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      Inventory<br>
      <ul>
        <li *ngFor="let item of hero.inventory; index as i">
          <app-item [item]="item" [index]="i"></app-item>
        </li>
      </ul>
    </div>
  </div>
</div>